* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ffffff;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.box::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent,#00d4a6);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}

.box::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent,#ffe600);
  animation: animate 4s linear infinite;
}

.box .content {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  z-index: 1;
  background: white;
  border-radius: 20px;
  color: #303b6e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1rem;
}

@keyframes animate {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg);
  }
}